
* {
	margin:0;
	padding:0;
}

body{
	font-family: 'Open Sans Condensed', sans-serif;
	overflow-x: hidden;
	height: 100%;
}

.loader{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/fancybox_loading@2x.gif') 50% 50% no-repeat rgb(249,249,249);
	background-color: black;
}

#content{

}

.menu{
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	float: right;
	margin-right: 18%;
	overflow: hidden;
	clear: right;
	transition: 1s all ease;
}

.menu ul{

}

.menu li{
	float: left;
	list-style: none;
	height: 80px;
	line-height: 80px;
	transition: 1s all ease;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
	color: black;
}

.menu li:hover{
	background-color: #72b842;
	transition: 1s all ease;
	color: white;
}

.menu li:hover a{
	transition: 1s all ease;
	color: white;
}

.menu li a{
	text-decoration: none;
	color: #939393;
}

.selected{
	background-color: #72b842;
	transition: 1s all ease;
	color: white;
}

.logo{
	background-color: #72b842;
	color: white;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	height: 70px;
	width: 140px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	margin-left: 20%;
	font-weight: bold;
}

.logo span{
	font-size: 15px;
	color: white;
	font-weight: lighter;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -20px;
}

#header{
	height: 80px;
	width: 100%;
	min-width: 1000px;
	position: fixed;
	z-index: 10;
	background-color: white;
}

#home {
  /*background: url(../img/back_dev.jpg) 0 0 fixed no-repeat; */
    background: url(../img/texture1.jpg) 0 0 fixed repeat;
  background-size: cover;
  height: 44em; 
  margin: 0 auto;
  width: 100%; 
  max-width: 1920px;
  position: relative;
  z-index: 1;
}

#home .quotes{
	width: 600px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	top: 120px;
	
}

#home ul {
	color: white;
	margin-top: 100px;
	float: left;
}

#home li p {
	font-size: 70px;
}

#home_content{
	height: 180px;
	width: 100%;
	background-color: #e9e9e9;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	z-index: 1;
}

#home_content .square_content{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 780px;
}

#home_content .square{
	margin-left: 0;
	height: 90px;
	width: 90px;
	background-color: #72b842;
	border-radius: 10px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#home_content .big_square{
	border-radius: 10px;
	background-color: white;
	padding: 20px;
	width: 200px;
	float: left;
	height: 140px;
	margin-left: 20px;
	text-align: center;
	color: #939393;
	font-size: 20px;
	line-height: 20px;
	overflow-x:hidden;
}

.out{
	left: 100%;
	transition: 1s all ease;
}

.in{
	left: 70%;
	transition: 1s all ease;
}

#about_me{
	width: 100%;
	/*background: url(../img/about_me_back.jpg); */
	/*background-color: #2F3032;*/
	background-color: #fff;
	background-position: 20px;
	height: 400px;
	position: relative;
	z-index: 5;
	box-shadow: 0px 4px 5px #888888;
	color: #888;
	overflow-x: hidden;
}

#about_me .profile{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	font-size: 40px;
	margin-top: 0px;
	padding-top: 30px;
	text-align: center;
	overflow-x: hidden;
}

.batman{
	margin-top: 0px;
	margin-left: 80px;
	background: url(../img/batman_dialogue.png) no-repeat;
	background-size: 100%;
	height: 400px;
	width: 400px;
	z-index: 10;
	float: right;
	position: absolute;
	transition: 1s all ease;
}

.profile .description{
	font-size: 20px;
	float: right;
	width: 400px;
	float: left;
	margin-left: 70px;
	margin-top: 40px;
}

#about_me .profile .img{
	margin-top: 30px;
	width: 200px;
	border-radius: 0px;
	background: url(../img/loy.jpg);
	background-size: cover;
	height: 200px;
	background-position: 45% 64%;
	/*margin-left: auto;
	margin-right: auto; */
	float: left;
}
 
#about { 
  /*background: url(../img/background_texture.jpg) 0 0 fixed repeat;*/
  background: url(../img/texture1.jpg) 0 0 fixed repeat;
  opacity: 1;
  height: 800px;
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  
  /*-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
   box-shadow: 0 0 50px rgba(0,0,0,0.8); */
}

#about .portfolio h2{
	color: white;
	font-size: 50px;
	width: 200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: -110px;
}

.portfolio{
	/* background: url(../img/gibson.png) 0 0  no-repeat; */
	background-color: #E9E9E9;
	/*height: 50%; */
	height: auto;
	position: relative;
	top: -250px;
	z-index: 0;
	width: 50%;
	min-width: 600px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.chiclet{
	width: 100%;
	clear: both;
	height: 1px;
	border: 0px solid black;
}

.portfolio .title{
	color: #888;
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	position: relative;
	top: -30px;
}

.portfolio ul{
	width: 65%;
	min-width: 450px;
	max-width: 700px;
	height: 70%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: -30px;
	border: 1px solid white;
}

.portfolio li{
	width: 24%;
	height: auto;
	/*height: 37%;*/
	/*padding-top: 1%;   /* HERE'S THE TRICK! PADDING-TOP DEPENDS ON PARENT'S HEIGHT */
	padding-left: 1%;
	min-height: 100px;
	min-width: 100px;
	max-width: 150px;
	max-height: 150px;
	float: left;
	margin-left: 0px;
	list-style: none;
	position: relative;
}

.portfolio img{
	width: 100%;
}

.portfolio li:hover{
	opacity: 0.5;
	transition: 0.5s all ease;
}


#others {
	width: 100%;
	background-color: white;
	height: 700px;
	z-index: 1;
	position: relative;
	box-shadow: 0px 0px 5px #888;
	border-top: 1px solid white;
	text-align: center;
	
}

#others h2{
	color: #777;
	margin-top: 40px;
	font-size: 30px;
}

#separator {
	width: 100%;
	/*background: url(../img/background_texture.jpg) 0 0 repeat;*/
	background: url(../img/texture1.jpg) 0 0 fixed repeat;
	background-size: cover;
	height: 1000px;
	z-index: 0;
	position: relative;
}

.services {
	width: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	height: 300px;
	border: 0px solid grey;
	padding-left: 50px;
	padding-right: 50px;
}

.service{
	border: 0px solid grey;
	width: 378px;
	float: left;
	height: 400px;
	padding: 10px;
	color:#888;
	font-size: 18px;
}

.service .title{
	height: auto;
	font-size: 30px;
	color:#888;
	position: relative;
	top: -20px;
}

.service .description{
}

.contact {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	top: -700px;
	background-color: #E9E9E9;
	height: auto;
	z-index: 1;
	position: relative;
	box-shadow: 0px -2px 5px #888888;
}

.contact .title{
	color: #888;
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

.contact .form{
	position: relative;
	margin-left: auto;
	margin-right:auto;
	width: 70%;
	font-weight: bold;
	color: #888;
	height: 100%;
}

.form form{
	height: 40%;
}

div.input.text{
	height: auto;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus { 
	border: none;
	outline: 0;
	background-color : #AAA;
	color: white;
	padding-left: 2%;
}

input[type=text], input[type=email], textarea{
	width: 100%;
	border: none;
	min-height: 10px;
	max-height: 70px;
	background-color: #CCC;
	box-shadow: inset #BBB 1px 1px 1px;
	margin-top: 2%;
	color: white;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif;
	padding-top: 1%;
	padding-bottom: 2%;
	margin-bottom: 3%;
 }
 
 textarea {
	height: 10%;
	padding-top: 5px;
}
 
 .button {
	padding: 10px;
	color: white;
	background-color: #888;
	border: none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 0;
	margin-bottom: 10%
}

.button:hover{
	background-color: #BBB;
}

.contact h2{
		color: white;
	font-size: 50px;
	width: 200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: -110px;
}

#flashMessage{
	position : fixed;
	background-color: #888;
	width: 400px;
	padding: 20px;
	top: 300px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	height: 30px;
	font-size: 18px;
	z-index: 20;
}

.success_flash {
	position: fixed;
	left: 50%;
	width: 400px;
	text-align: center;
	z-index: 100;
	top: 100px;
}

.flash_center{
	height: auto;
	position: relative;
	left: -50%;
	padding-top: 20px;
	padding: 10px;
    color: white;
    border-radius: 10px;
	font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    // text-transform: uppercase;
    /*box-shadow: 0 0 3px black; */
	background: #888;
}

/* Basic Jquery slider css */


ul.bjqs-controls.v-centered li.bjqs-next a{
	background: url(../img/next.png) -2px 0;
	width: 33px;
	height: 50px;
}

ul.bjqs-controls.v-centered li.bjqs-next a:hover{
	background: url(../img/next.png) -2px 50px;
	width: 33px;
	height: 50px;
}

ul.bjqs-controls.v-centered li.bjqs-prev a{
	background: url(../img/prev.png) 0 0;
	width: 33px;
	height: 50px;
}

ul.bjqs-controls.v-centered li.bjqs-prev a:hover{
	background: url(../img/prev.png) 0 50px;
}